.main-content{
  text-align: center;
  font-weight: bold;
}
.front-page{
  background: url(../images/h_img.jpg) no-repeat;
  background-size: contain;
  color: white;
}
.about-us{
  margin-top: 50px;
  margin-bottom: 50px;
}
.services{
  background-image: url(../images/s_image.jpg);
  color: white;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio{
  align-items: center;
}
.contact-us{
  background-image: url(../images/c_image.jpg); no-repeat;
  background-size: contain;
  background-position: relative;
  color: white;
  height: 680px;
}
.row{
  align: center;
}
.pname{
  display: none;
}
input[type=text]{
  background: none;
  color: white;
  justify-content: flex-end;
  width: 100%;

}
textarea{
  background: none;
  color: white;
  width: 1050px;
}
h1{
  font-weight: bold;
}
h2{
  font-weight: bold;
}
h5{
  font-weight: bold;
}
.container{
  padding-top: 50px;
}
#hide{
  display: none;
}
#hide1{
  display: none;
}
#hide2{
  display: none;
}
table{
  width: 1180px;
}
td img{
  width: 255px;
  padding-left: 10px;
}
#firstName{
  display: none;
}
::placeholder{
  color: white;
}
