.main-content{
  text-align: center;
  font-weight: bold;
}
.front-page{
  background: url(../images/h_img.jpg) no-repeat;
  background-size: contain;
  color: white;
}
.about-us{
  margin-top: 50px;
  margin-bottom: 50px;
}
.services{
  background-image: url(../images/s_image.jpg);
  color: white;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio{
  height: 600px;
}
.contact-us{
  background-image: url(../images/c_image.jpg);
  background-size: contain;
  color: white;
}
input[type=text]{
  width: 100%;
  background: none;
  color: white;
}
h1{
  font-weight: bold;
}
h5{
  font-weight: bold;
}
.container{
  padding-top: 50px;
}
#hide{
  display: none;
}
#hide1{
  display: none;
}
#hide2{
  display: none;
}
col-md-3{
  width: 250px;
}
