body{
  font-family: 'Montserrat', sans-serif;
}
.main-content{
  text-align: center;
  font-weight: bold;
}
.front-page{
  background: url(../images/h_img.jpg) no-repeat;
  background-size: contain;
  color: white;
}
.about-us{
  margin-top: 50px;
  margin-bottom: 50px;
}
.services{
  background-image: url(../images/s_image.jpg);
  color: white;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio{
  align-items: center;
}
.project {
  color: white;
  position: absolute;
  top: 10%;
  left: 8%;
  opacity: 0;
  width: 80%;
  border: 5px solid white;
  padding: 4px;
  margin: 5px;
  height: 80%;
}
.contact-us{
  background: url(../images/c_image.jpg) no-repeat;
  background-size: contain;
  background-position: relative;
  color: white;
  height: 680px;
}
.row{
  align: center;
}
.pname{
  display: none;
}
input[type=text]{
  background: none;
  color: white;
  justify-content: flex-end;
  width: 100%;
  border-color: white;
}
textarea{
  background: none;
  color: white;
  width: 1100px;
  height: 250px;
}
.button{
  align: center;
}
h1{
  font-weight: bold;
}
h2{
  font-weight: bold;
}
h5{
  font-weight: bold;
}
.container{
  padding-top: 50px;
}
#hide{
  display: none;
}
#hide1{
  display: none;
}
#hide2{
  display: none;
}
.col-sm-3{
  width: 245px;
  padding: 10px;
}
.portfolio img{
  width: 255px;
  float: left;
}
.proj{
  display: none;
}
#firstName{
  display: none;
}
::placeholder{
  color: white;
}
